<nav class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
        <div class="row" id="brandRow">
            <div class="col-sm-4">
                <a class="navbar-brand" href="/">Climbing News</a>
            </div>
        </div>
        <div class="row" id="navTabRow">
            <div class="col-sm-8">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"><a class="btn btn-default navbar-btn" href="/">Home</a></li>
                    <li role="presentation"><a class="btn btn-default navbar-btn active" href="/saved">Saved
                            Articles</a></li>
                    <li role="presentation"><a class="btn btn-default navbar-btn" id="scrapeBtn"
                            href="/api/articles/scrape">Scrape New Articles!</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>