* {
    font-family: 'Roboto Condensed', sans-serif;

}

.btn {
    min-width: 8em;
    min-height: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .8;
    color: white;
    padding-top: 5px;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 5px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-brand {
    font-size: 3rem;
}

.navbar {
    background-color: black;
    opacity: .8;
    color: white;
    padding-top: 5px;
    padding-bottom: 3px;
}

.row {
    margin: 0;
    top: 50%;
    left: 50%;

}

.copyright {
    float: left;
}

.navbar-inverse .navbar-brand {
    overflow: auto;
}

#apiBtn {
    float: right;
    border-radius: 5px;
}

#brandRow {
    margin-bottom: 10px;
    white-space: nowrap
}

#navTabRow {
    position: inherit; 
    bottom: 0;
    width: 100%;
    white-space: nowrap
}

#wrapper {
    margin-bottom: 4em;
}

@media (min-width: 1px) {
    .display-1 {
        font-size: 4rem
    }
}

@media (min-width: 576px) {
    .display-1 {
        font-size: 5rem
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .display-1 {
        font-size: 6rem
    }
}